@if (work) {
<div class="main">
  <div class="aside">
    <a [href]="work.href" target="_blank">
      @if(work.image.includes('.mp4')) {
      <video [src]="work.image" autoplay loop muted playsinline style="width: 100%; height: auto;"></video>
      } @else {
      <img [src]="work.image" alt="" />
      }
    </a>
    <div class="actions">
      <a routerLink="/" class="button">Volver al inicio</a>
      <a [href]="work.href" target="_blank" class="button primary">Visitar</a>
    </div>
  </div>
  <div class="content">
    <h1>{{work.title}}</h1>
    @for(p of work.description; track p) {
    @if(isImage(p)) {
    <div class="media-wrapper">
      <img [src]="p.href" [alt]="p.footer" style="width: 100%; height: auto;" />
      <small><i>{{p.footer}}</i></small>
    </div>
    } @else {
    <p>{{p}}</p>
    }
    }
  </div>
</div>

<div class="related">
  <h2>Otros trabajos</h2>
  <div class="work-list">
    @for(work of relatedWorks; track work.title) {
    <app-work-item [work]="work" />
    }
  </div>
</div>
}