<main>
  <div class="title">
    <h1>Who is Daiant</h1>
    <p>Hola, soy Carlos, ingeniero fullstack basado en Valencia. Me puedes encontrar en <a href="https://github.com"
        target="_blank">Github</a> o contactar conmigo en <a href="mailto:cmg2512@gmail.com">cmg2512&#64;gmail.com</a>
    </p>
    <p>A continuación puedes ver mis últimos trabajos.</p>
  </div>

  <div class="hero">
    <app-hero />
  </div>
</main>
<div class="work-list">
  @for (work of works; track work.title) {
  <app-work-item [work]="work" />
  }
</div>